<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.nexgen.esb" level="DEBUG" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Logger name="org.apache.camel" level="INFO" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Logger name="org.apache.cxf" level="WARN" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
