[Unit]
Description=NexGen CreditRisk Gateway
After=network.target

[Service]
Type=simple
User=nexgen
Group=nexgen
WorkingDirectory=/opt/nexgen-creditrisk
EnvironmentFile=/opt/nexgen-creditrisk/env.conf
ExecStart=/usr/bin/java -Xms256m -Xmx512m -XX:+UseG1GC -XX:MaxMetaspaceSize=128m -jar /opt/nexgen-creditrisk/app.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nexgen-creditrisk

[Install]
WantedBy=multi-user.target
